// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture {
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }

  &-header {
    text-align: right;

    strong {
      float: left;
    }
  }

  &-container {
    margin: 0 auto;

    img {
      width: 100%;
      display: block;
    }
  }

  & > div,
  & > figcaption,
  &-header {
    padding: 0.75rem;
  }

  // .comment-container {
  //   margin-bottom: 1rem;
  // }

  .comment-controls {
    margin-left: 0.5rem;

    a {
      color: #888;
    }
  }

  a {
    padding-right: 0.25rem;
  }
}
